:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
}

.breadcrumb_area {
    position: relative;
    padding: 172px 0px 84px;
    background: url(../images/slide-2.jpg)no-repeat scroll center 0/cover;
    z-index: 1;
    overflow: hidden;
}

.breadcrumb_area .bg-parallax {
    background: url(../images/slide-2.jpg) no-repeat scroll center 0/cover;
    opacity: 0.50;
    z-index: -1;
}

.page-cover-title {
    display: block;
    font-size: 36px;
    line-height: 45px;
    color: #333;
}

.breadcrumb {
    text-align: center;
    background: transparent;
    padding: 0px;
    display: inline-block;
}

.breadcrumb li {
    display: inline-block;
    color: #333;
}

.breadcrumb ol li a {
    list-style: none;
}

.breadcrumb li a {
    color: #333;
    list-style: none;
}

.breadcrumb li+li:before {
    content: "\e87a";
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    margin: 0px 10px 0px 7px;
}

.about_content {
    padding-right: 60px;
}

.about_content p {
    padding: 18px 0px 30px;
}

.section_gap {
    padding: 120px 0;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title {
    color: #222222;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
}